.header {
  display: flex;
}

.logo {
  margin-right: 180px;
}

.logo-img {
  width: 180px;
  height: 90px;
  display: flex;
  margin-left: 30px;
}

.menu {
  margin-top: 14px;
  padding-bottom: 5px;
}

.dashboard {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  margin-left: 220px;
}

.dashboard a {
  text-decoration: none;
  font-family: -apple-system, sans-serif;
  font-size: 14px;
  color: #000;
}

/* .ant-menu-horizontal {
    display: flex;
    justify-content: center;
  } */